@model List<Product>
@{
    ViewData["Title"] = "Home Page";
    ViewData["Home Page"] = true;
}

<div >
    <div class="bg-default text-white py-5 d-flex justify-content-center align-items-center">
        <div class="row align-items-center g-5 ">
            <div class="col-md-6 ">
                <h1 class="title-header text-white mb-5 display-2"><strong>Eat The Pan You Love</strong></h1>
                    <h2 class="title-header text-white">
                        Unang Kagat Impatsu agad
                    </h2>
            </div>
            <div class="col-md-6 text-center">
                <img src="/images/wallpaper-removebg-preview.png" class="img-fluid" alt="breads"/>
            </div>
        </div>
    </div>

</div>


<div class="bg-overall-bg">
    <div class ="p-4">
        <h2 class="title-header pb-4 text-center">Newest Products</h2>

        <div class=" row mb-5 g-3">
            @foreach(var product in Model)
            {
                <div class=" col-lg-3 col-md-6">
                    <div class="bg-default text-white rounded border shadow p-3 text-center h-100">
                        <img src="/products/@product.ImageFileName" class="img-fluid" alt="..."
                            style="height: 180px; object-fit: contain"/>
                        <hr />
                        <h2 class="fw-bold py-2">@product.Name</h2>
                        <p>
                            Brand: @product.Brand, Category: @product.Category
                        </p>
                        <h4 class="mb-3">@(product.Price)$</h4>
                        <a class="btn btn-primary btn sm mb-2" asp-controller="Store" 
                        asp-action="Details" asp-route-id="@product.Id" role="button">Details</a>
                        <button type="button" class="btn btn-warning btn-sm mb-2">
                            Add to Cart <i class="bi bi-cart4"> </i>
                        </button>
                    </div>
                </div>
            }
        </div>

    </div>

</div>